@font-face {
	font-family: 'Eudoxus';
	src: url('../customfonts/EudoxusLight.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
}
@font-face {
	font-family: 'Eudoxus';
	src: url('../customfonts/EudoxusRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
	font-family: 'Eudoxus';
	src: url('../customfonts/EudoxusMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
	font-family: 'Eudoxus';
	src: url('../customfonts/EudoxusBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}