// text
$blue-dark: #060b27;    
//    bg inisde card
$blue-medium: #2d55fb;
// text blue
$blue-light: #0084ff;
// bg left
$blue-lightest: #f7f9fc;
// text footer and related color
$blue: #525f7a;

// $check; #DADEE7;




