.head{
    &-l{
        font-family: "Inter", Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: 32px;
    }
    &-m{
        font-family: "Inter", Arial, Helvetica, sans-serif;
        font-weight: 500;
        font-size: 26px;
    }
    &-s{
        font-family: "Inter", Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-size: 16px;
    }
}


.text{
    &-l{
        font-family: 'Eudoxus', sans-serif;
        font-weight: bold;
        font-size: 36px;
    }
    &-m{
        font-family: 'Eudoxus', sans-serif;
        font-weight: lighter;
        font-size: 16px;
    }
    &-xs{
        font-family: "Inter", Arial, Helvetica, sans-serif;
        font-weight: 600;
        font-size: 16px;
    }
    &-s{
        font-family: "Inter", Arial, Helvetica, sans-serif;
        font-weight: lighter;
        font-size: 12px;
    }
}